/* .TopBar { 
  display: flex;
  height: 80px;
} */
.logo {
  padding: 20px 0px 0px 10px;
}
.logosize {
  width: 70px;
  height: 70px;
}
.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImage {
  background-image: url(./assets/images/bg.png);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
.topleft {
  padding: 10px 10px 0px 40px;
}
.bottomleft {
  padding: 440px 10px 10px 10px;
}
@media (max-width: 768px) {
  .bgImage {
    background-image: url(./assets/images/responsivebackgroundimage.jpg);
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
  }
  .bottomleft {
    padding: 625px 5px 0px 15px;
  }
  .topleft {
    padding: 10px 10px 0px 20px;
  }
}
